<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="img/weather.png">
    <title>Adam Weather About</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This website was designed as part of a nodejs course, and hosted on HEROKU. It uses data grabbed from weatherstack.com and mapbox.com in order to provide the weather to the user</p>
      <img class="about-image" src="img/robot.png">
    </div>
    {{>footer}}
  </body>
</html>
